*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
    padding: 0;
}
.user-web{
    display: flex;
    flex-direction: column;
}
.seach-div{
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 250px;
    /* background: aqua; */
    flex: 1;
}
.user{
    display: flex;
    flex: 5;
    margin-top: 30px;
    margin-left: 40px;
    flex-direction: row;
}
.users-information{
    flex: 1;
    /* background-color:azure */
}
.user-posts{
    flex: 3;
   
}
.user-class{
    display: none;
}
.user-class-display{
    display: block;;
}
.login-page{
    display: flex;
    background-color: aqua;
}
.hide-login-page{
    display: none;
}
.user-name{
    margin-left: 10px;
}
.user-password{
    margin-left: 20px; 
}
.login-button{
    margin-left: 20px;
}