#search-button{
  color:#ef6b68;
}
body{
  margin-top: 20px 30px;
  background-color: #ef6b68;
  border-top: 10px;
}
#user-info{
  background-color: #5c8396";
}
#user-post{
  background-color: #98ac3e;
}