* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background: #af3;*/
    font-size: 100%;
    background-attachment: fixed;
    font-family: verdana, hevetica, arial, sans-serif;
}

div#wrapper {
    width: 940px;
    margin: 0 auto;
    /* background:white;*/
}

#banner {
    height: 200px;
    /*  background: #ff0;*/
    margin-top: 20px;
}

main {
    float: left;
    width: 580px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

aside {
    margin-top: 24px;
    background: #ee820d;
    width: 357px;
    float: right;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid #ffa500;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1.5em;
    line-height: 1.4;
}

footer {
    border-top: 1px dotted #667;
    height: 50px;
    height: 50px;
    line-height: 50px;
    /*keeps the footer text height*/
    background-color: #ffa500;
    border-radius: 10px;
    font-size: .875em;
    clear: both;
}

footer ul {
    list-style-type: none;
    margin-left: 20px;
}

footer li {
    /* display: inline;  OR*/
    float: left;
    margin-right: 30px;
}

footer a {
    color: brown;
}

form {
    background: #cc7722;
    max-width: 540px;
    border-radius: 10px;
    margin-top: 4px;
}

form li {
    list-style-type: none;
}

fieldset {
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #cc7722;
}

label {
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=phone] {
    height: 20px;
    width: 98%;
    margin-bottom: 10px;
}

input[type=radio],
input[type=checkbox] {
    width: auto;
    width: auto;
    margin-right: 7px;
}

figcaption {
    background: #aaa9ad;
    color: #1261A0;
    padding: 8px;
    font-size: 13px;
    font-style: italic;
}

form ul {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 10px;
}

select {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

img {
    display: block;
    /* The logo everything will be hot if display block is not commenting out. so, the solution is #logo: inline.....like i did above, that helps only the logo is to be hot not the other spaces*/
    max-width: 100%;
    /*to fix the bigger images out of the container*/
    border-radius: 10px;
    /*border radius makes curved around the corner*/
    margin-right: 20px;
}


/****Typography****/

h1,
h2,
h3,
h4 {
    /* margin-bottom: 8px;*/
    font-family: times, serif;
    line-height: 1.10;
}

h1 {
    font-size: 2.488em;
    font-weight: 200;
    color: #05a;
}

h2 {
    font-size: 2.074em;
    margin-left: 6px;
    margin-bottom: 10px;
    /*margin-up: 10px;*/
    color: #1261a0;
}

h3 {
    font-size: 1.728em;
    color: #1261a0;
    text-transform: uppercase;
    font-weight: 200;
}

h4 {
    margin-left: 6px;
    margin-bottom: 10px;
    /* margin-up: 10px;*/
    font-size: 1.44em;
    color: #1261A0;
}

p {
    /*The dfault font size for the paragraph is 1em*/
    margin-bottom: 20px;
    line-height: 1.4;
}

aside p {
    font-size: .8em;
    color: white;
}

legend {
    border-radius: 10px;
    background: #1261A0;
    font-size: 1.4em;
    padding: 8px;
    font-style: italic;
    font-family: forte;
}